{:paths ["src"]
 :deps {nrepl/nrepl {:mvn/version "1.0.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.5"
                                                :git/sha "9c738da"}}
          :ns-default build}}}
