{:paths ["src"]
 :deps {com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.1"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.5"
                                                :git/sha "9c738da"}}
          :ns-default build}}}
